@model motasAlcoafinal.Models.ServicoPecas
@{
    ViewData["Title"] = "Adicionar Peça ao Serviço";
}

<h2>Adicionar Peça ao Serviço</h2>

<form asp-action="AddPeca" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="PecaId" class="control-label">Peça</label>
        <select asp-for="PecaId" class="form-control" asp-items="ViewBag.Pecas"></select>
        <span asp-validation-for="PecaId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantidadeUsada" class="control-label"></label>
        <input asp-for="QuantidadeUsada" class="form-control" />
        <span asp-validation-for="QuantidadeUsada" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="ServicoId" />
        <input type="submit" value="Adicionar" class="btn btn-primary" />
    </div>
</form>