@model motasAlcoafinal.Models.Pecas
@{
    ViewData["Title"] = "Editar Peça";
}

<h2>Editar Peça</h2>

<form asp-action="Edit" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Nome" class="control-label"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Preco" class="control-label"></label>
        <input asp-for="Preco" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantidadeEstoque" class="control-label"></label>
        <input asp-for="QuantidadeEstoque" class="form-control" />
        <span asp-validation-for="QuantidadeEstoque" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>